<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.csp.sentinel.dashboard.datasource.mapper.MetricMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alibaba.csp.sentinel.dashboard.datasource.entity.Metric">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="app" property="app" />
        <result column="timestamp" property="timestamp" />
        <result column="resource" property="resource" />
        <result column="pass_qps" property="passQps" />
        <result column="success_qps" property="successQps" />
        <result column="block_qps" property="blockQps" />
        <result column="exception_qps" property="exceptionQps" />
        <result column="rt" property="rt" />
        <result column="count" property="count" />
        <result column="resource_code" property="resourceCode" />
    </resultMap>

    <insert id="batchInsert">
        insert into metric
        (
        gmt_create, gmt_modified, app, timestamp, resource, pass_qps,
        block_qps, success_qps, exception_qps, rt, count, resource_code
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, #{item.app,jdbcType=VARCHAR},
            #{item.timestamp,jdbcType=TIMESTAMP}, #{item.resource,jdbcType=VARCHAR}, #{item.passQps,jdbcType=BIGINT},
            #{item.blockQps,jdbcType=BIGINT}, #{item.successQps,jdbcType=BIGINT}, #{item.exceptionQps,jdbcType=BIGINT},
            #{item.rt,jdbcType=DECIMAL}, #{item.count,jdbcType=INTEGER}, #{item.resourceCode,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
</mapper>
